<h3>Event creator</h3>
<% if @event.attendees %>
    <%= @event.title %>
    <%= @event.description %>
<% else %>

<%= button_to 'Attend', attend_path(@event), method: :post, confirm: 'really?' %>
<% @event.attendees.each do |attendee| %>
<%= attendee.email %>
<% end %>
<% end %>